.container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid rgb(217, 217, 217);
    position: relative; 
}

#images {
    display: flex;
    position: relative;
    height: 500px;
}

.selector {
    width: 2px;
    height: 500px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    main {
        img {
            width: 350px;
            height: 350px;
        }
        .container {
            width: 350px;
            height: 350px;
        };        
    }
}
