main {
	flex: 1;
	padding: 20px;
	margin: auto;
	overflow: hidden;

	max-width: 1300px;
	max-height: 600px;

	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: center;

	p {
		margin: 5px 0;
	}

	h3 {
		margin: 0;
	}

	img {
		width: 500px;
	}

	.main__title {
		display: flex;
		margin-bottom: 5px;
		justify-content: space-between;
		align-items: center;
	}

	.main__row {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		margin-bottom: 20px;
	}

	#colorContainer {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#colorContainer div {
		display: flex;
		justify-content: center;
		flex: 1;
		height: 40px;
		align-items: center;
	}

	.main__block {
		display: flex;
		flex-direction: column;

		.buttons {
			display: flex;
			justify-content: space-between;
		}
		button {
			margin-top: 10px;
			padding: 10px;
			border-radius: 10px;
			border-color: #a4a2a2;
			font-family: inherit;
			cursor: pointer;
			&:hover {
				background-color: #dedede;
			}
		}
	}

	.slider {
		display: flex;
		flex-direction: column;
		#vol {
			margin: 0;
		}
	}

	canvas {
		border: 1px solid rgb(217, 217, 217);
	}
}

@media screen and (max-width: 767px) {
	main {
		h3 {
			font-size: 16px;
		}
		flex-direction: column;
		.main__title {
			flex-direction: column;
		}
		.main__block:has(canvas) > * {
			display: none;
		}
	}
}
